<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>M.eat.ogether-외롭지 않은 식사문화 미팃투게더</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap" rel="stylesheet">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <!--&22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222225;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

        <!--        /*이제 부터 스크립트를 통해 /bo /afterchoose gu랑 연결*/-->

        <script type="text/javascript">
            $(document).ready(function () {
                $("#uploading-box").html("")
            });

            //이게 업로드 저장하는 부분이다.
            function uploading() {
                // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
                let TitleWrote = $('#TitleWW').val();
                let HowmanyWrote = $('#HowmanyWW').val();
                let TimeWrote = $('#TimeWW').val();
                let PriceWrote = $('#PriceWW').val();
                let MenuWrote = $('#MenuWW').val();
                let ImgWrote = $('#ImgWW').val();


                if (TitleWrote == '') {
                    alert('제목 작성해.')
                } else if (HowmanyWrote == '') {
                    alert('인원수 기입해')
                } else if (TimeWrote == '') {
                    alert('시간 기입해')
                } else if (PriceWrote == '') {
                    alert('가격 기입해')
                } else if (MenuWrote == '') {
                    alert('메뉴 기입해')
                } else if (ImgWrote == '') {
                    alert('이미지 올려')
                }


                // 2. 제목, 저자, 리뷰 중 하나라도 입력하지 않았을 경우 alert를 띄웁니다.
                // 3. POST /review 에 저장을 요청합니다.


                $.ajax({
                    type: "POST",
                    url: "/upload",
                    data: {
                        Title_give: TitleWrote,
                        Howmany_give: HowmanyWrote,
                        Time_give: TimeWrote,
                        Price_give: PriceWrote,
                        Menu_give: MenuWrote,
                        Img_give: ImgWrote

                    },


                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        }
                    }
                })
            }

            //222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222
            //이 아래는 별개로 이미지 업로드 기능
            function uploadImgPreview() {


                // @breif 업로드 파일 읽기

                let fileInfo = document.getElementById("upImgFile").files[0];

                let reader = new FileReader();


                // @details readAsDataURL( )을 통해 파일을 읽어 들일때 onload가 실행

                reader.onload = function () {


                    // @details 파일의 URL을 Base64 형태로 가져온다.

                    document.getElementById("thumbnailImg").src = reader.result;

                    document.getElementById("thumbnailUrl").innerText = reader.result;

                };


                // @details onload 대신 addEventListener( ) 사용가능

                // reader.addEventListener("load", function() {

                //    document.getElementById("thumbnailImg").src = reader.result;

                //    document.getElementById("thumbnailUrl").innerText = reader.result;

                // }, false);


                if (fileInfo) {


                    // @details readAsDataURL( )을 통해 파일의 URL을 읽어온다.

                    reader.readAsDataURL(fileInfo);

                }

            }

            //업로드 기능 끝끝

            //새로 찾은 "이미지 업로드 코드" 777777777777777777777777777777777777777777777777777777777777777


            // 파일이 추가되는 순간 addFiles 함수가 실행된다.
            $(document).ready(function () {
                $("#fileupload").on("change", addFiles);
            });

            var filesTempArr = [];

            // 파일 추가
            function addFiles(e) {
                var files = e.target.files;
                var filesArr = Array.prototype.slice.call(files);
                var filesArrLen = filesArr.length;
                var filesTempArrLen = filesTempArr.length;
                for (var i = 0; i < filesArrLen; i++) {
                    filesTempArr.push(filesArr[i]);
                    $("#fileList").append("<div>" + filesArr[i].name + "<img src=\"/images/deleteImage.png\" onclick=\"deleteFile(event, " + (filesTempArrLen + i) + ");\"></div>");
                }
                $(this).val('');
            }

            // 파일 삭제
            function deleteFile(eventParam, orderParam) {
                filesTempArr.splice(orderParam, 1);
                var innerHtmlTemp = "";
                var filesTempArrLen = filesTempArr.length;
                for (var i = 0; i < filesTempArrLen; i++) {
                    innerHtmlTemp += "<div>" + filesTempArr[i].name + "<img src=\"/images/deleteImage.png\" onclick=\"deleteFile(event, " + i + ");\"></div>"
                }
                $("#fileList").html(innerHtmlTemp);
            }

            var formData = new FormData();

            // 파일 데이터
            for (var i = 0, filesTempArrLen = filesTempArr.length; i < filesTempArrLen; i++) {
                formData.append("files", filesTempArr[i]);
            }

            formData.append("testData1", "A");
            formData.append("testData1", "B");
            formData.append("testData1", "C");

            $.ajax({
                type: "POST",
                url: "/upload",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.result) {
                        alert("Success");
                    } else {
                        alert(data.result);
                    }

                },
                err: function (err) {
                    alert(err.status);
                }
            });


            //새로 찾은 "이미지 업로드 코드" 77777777777777777777777777777777끝-------------------------------------------777777777777777777777777777

        </script>

        <!-- 이미 완성된 코드 건들지 말것1111111-->
        <style>
            .main-wrapper {
                width: 800px;
                margin: 0 auto;

            }

            .main-logo {
                width: 100%;
            }

            .longsizetext {
                width: 6in
            }

            * {
                font-family: 'Sunflower', sans-serif;
            }
        </style>
        <!--222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222221-->

    </head>
    <body>

        <div class="main-wrapper"><!--안녕 범위지정은 컨트롤 쉬프트 슬래시  혹은 그냥 꺽쇠 느낌표 선선 그리면 돼-->
            <img class="main-logo" src="https://i.ibb.co/8gTpkP8/meateatogether.jpg"/>


            <h1> 글쓰기 페이지</h1>
            <p>


                Title: <input type="text" class="longsizetext" id="TitleWW">
                (식당 상호명 기입 필수!)
            </p>

            <div class="col-sm-5">
                <p> 인원수
                    <select class="custom-select" id="HowmanyWW">
                        <option selected value=""> 몇명이서 먹을깡?</option>
                        <option value="1">2 명</option>
                        <option value="2">2~3 명</option>
                        <option value="3">3~4 명</option>
                        <option value="4">4~5 명</option>
                        <option value="5">5~ 명</option>


                    </select></p>


                <p>시간 <select class="custom-select" id="TimeWW">
                    <option selected value=""> 우리 언제 먹을깡?</option>
                    <option value="1">오전 10~12시</option>
                    <option value="2">오후 12 ~ 2시</option>
                    <option value="3">오후 2~4시</option>
                    <option value="4">오후 4~6시</option>
                    <option value="5">오후 6~8시</option>
                    <option value="6">오후 8~10시</option>
                    <option value="7">오후 10~12시</option>
                    <option value="8">오후 12~2시</option>


                </select>
                </p>
                <p>가격 <select class="custom-select" id="PriceWW">
                    <option selected value=""> 가격대는 어느정도??</option>
                    <option value="1">8000 이하</option>
                    <option value="2">8000~12000</option>
                    <option value="3">12000~20000</option>
                    <option value="4">20000~30000</option>
                    <option value="5">30000~ 오예!!</option>


                </select>
                </p>
                <p>메뉴 <select class="custom-select" id="MenuWW">
                    <option selected value=""> 우리 뭐 먹을깡?</option>
                    <option value="1">소고기</option>
                    <option value="2">돼지고기</option>
                    <option value="3">닭고기</option>
                    <option value="4">회 & 해산물</option>
                    <option value="5">기타</option>


                    <!-- 사진 업로드 기능을 여기다가 만들어야 해!! 5개 제한을 설정해야 하구..-->
                </select>
                </p>
            </div>
            <!--            <div>-->
            <!--                &lt;!&ndash;업로드 기능은 여기&ndash;&gt;-->
            <!--                &lt;!&ndash; @breif accept 태그는 파일 업로드시 그것을 이미지 파일로 제한한다. &ndash;&gt;-->

            <!--                <input type="file" id="upImgFile" onChange="uploadImgPreview();" accept="image/*" id="ImgWW">-->
            <!--                -->


            <!--                <hr/>-->

            <!--                <img id="thumbnailImg" src="">-->

            <!--                <br/>-->

            <!--                <div id="thumbnailUrl"></div>-->
            <!--&lt;!&ndash;업로드 기능은 여기 종료 1111111111111111111111111111&ndash;&gt;-->

            <!--            </div>-->
            <!--                새로 찾은 이미지 업로드 7777777777777777777777777777777777777777777777777777777777777777-->
            <!--                // 파일 input 태그가 아래와 같이 선언되어 있고-->
            <input name="files" id="fileupload" type="file" multiple/>
            <!--                // 추가된 파일 이름과 삭제할 수 있는 버튼이 추가 되는곳은 아래와 같이 선언되어 있다.-->
            <div id="fileList"></div>


            <!--77777777777777777777777777777777777종료-7777777777777777777777777777777777-->

            <button onclick="uploading()" type="button" class="btn btn-primary">
                업로드 하기
            </button>

        </div>
    </body>
</html>